doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        
        title Innovating Beyond the Blueprint | Alfredo Chavez

        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC", crossorigin="anonymous")
        link(rel="stylesheet", href="/css/index.css", type="text/css")
        
        script(src="/jquery/jquery.min.js")
        script(src="/js/ajax_calls.js")
        script(src="/js/js_scripts.js")
    body.body_main#body_main
        header
            div.taskbar_container
                nav
                    ul 
                        li.taskbar_text 
                            a(href="#projects_ref_square", id="project_link") Projects
                        li.taskbar_text 
                            a(href="#main_menu_ref_square", id="home_link") Home
                        li.taskbar_text 
                            a(href="#connect_page", id="contact_link") Contact
            div.ref_square#main_menu_ref_square
            div.form_container
                form.form
                    label -- View --
                    select#dark_light
                        option(value="light_mode") Light Mode
                        option(value="dark_mode") Dark Mode
                form.form
                    label -- Language --
                    select#language_selector
                        option(value="en-us") English
                        option(value="es-mx") Spanish
                        option(value="zh-cn") Mandarin Chinese
        main 
            div.wrapper_container#main_page
                div.container.formatting_block
                    div.container_item#block_main_1
                        div.flex_item#introduction
                            p.translatable_text.main_menu_title#introduction_blueprint Welcome to Innovating Beyond the Blueprint!
                            p.translatable_text#introduction_self.
                                My name is Alfredo Chavez, and I am an aspiring Electrical Engineer 
                                and Software Developer driven by a deep appreciation for resourcefulness, 
                                determination, and integrity.
                        div.flex_item#about_me
                            p.main_menu_title.translatable_text#about_intro About Me
                            p.translatable_text#preface_about_me Let me introduce a little something about me.
                            p.translatable_text#values_about_me.
                                Aside from technical expertise, I value environments that challenge thought, 
                                uphold strong principles, and encourage impactful, meaningful work. I 
                                approach problems in a creative and pragmatic way, seeking to not only build, 
                                but to refine, enhance, and push boundaries.
                            p.translatable_text#else_about_me.
                                When I am not working, I am enjoying the small things in life. I am a huge 
                                supporter in being grateful for the experiences in our daily lives. However, 
                                nature is the best place to be!
                    div.container_item#block_main_2
                        div.flex_item#portrait
                            img(id="photo_me", src="../assets/Grad_pic.png", alt="Professional Portfolio Photo")
                        div.flex_item#connect
                            p.translatable_text#network_connect.
                                If you're ever interested in connecting, I welcome and encourage the opportunity to exchange ideas 
                                and insights. I value meaningful conversation and the chance to learn even more from others, 
                                so feel free to reach out!
                            div.logo_wrapper#main_menu_logo_wrapper
                                ul.logo_container
                                    li.main_menu_list_logo
                                        a(href="https://www.linkedin.com/in/alfredochavez0406")
                                            img(class="main_menu_logo_item", src="../assets/in-logo/LI-In-Bug.png",alt="Linkedin Logo Link")
                                    li.main_menu_list_logo
                                        a(href="../assets/website_portfolio_resume_v2.1.0.pdf" target="_blank")
                                            img(class="main_menu_logo_item", src="../assets/resume.svg",alt="Resume Logo Link")
                                    li.main_menu_list_logo
                                        a(href="https://github.com/achavez1412")
                                            img(class="main_menu_logo_item", src="../assets/github-mark/github-mark.png",alt="Github Logo Link")
                            button(type="button", class="connect_button")
                                a(href="#connect_page", class="connect_button translatable_text" id="connect_button") CONNECT!

                    div.container_item#block_main_3
                        div.flex_item#date_time
                            div#time
                            div#date
                        div.flex_item#projects
                            p.main_menu_title.translatable_text#skills_title
                                a(class="title") Technical Proficiencies & Interests
                            p.translatable_text#intro_skills.
                                I am from California with a strong interest in Robotics, 
                                Embedded Systems, and Software development. A few Technical Proficiencies include:
                            ul 
                                li.translatable_text#item1_skills Real-Time Embedded Software Development
                                li.translatable_text#item2_skills Database Management Systems
                                li.translatable_text#item3_skills Signal Processing
                                li.translatable_text#item4_skills Engineering Design and Prototyping
                            p.
                                Learn more about the Software, Languages, and Technologies that I have been using inside my Resume!
            div.ref_square#projects_ref_square
            section.cards.formatting_block
                div.card_format
                    section.card#projects_page
                        div.card_inner
                            p.card_title.card_header.
                                EECS149: Payload It Forward
                            img(id="eecs149_poster", src="../assets/EECS149 Final Poster_ .svg", alt="Final Class Poster for Embedded Device Project")
                            ul
                                li The goal of this project was to be able to create an initial prototype for a testbed that is able to backhaul data through a data mule using BLE and WIFI to a server of some kind.
                                li With the myriad of events that occurred, the initial vision for the project underwent multiple iterations, whilst still accomplishing a core portion that identifies the project, upholding the design process.
                div.card_format    
                    section.card    
                        div.card_inner
                            p.card_title.card_header.
                                CS160: BANDO #[br] The Music and Community Events App
                            img(id="cs160_front", src="../assets/CS160_bando_intro.svg", alt="Cover Page for Music Community Events App")
                            img(id="cs160_fid_pt3", src="../assets/CS160_bando_high_fid_pt3.svg", alt="An example of high fidelity wireframes of a segment of the application")
                            ul 
                                li Scope:
                                li Role: 
                                li Technologies:

                            ul
                                li The goal of this project was to demonstrate the UX/UI lifecycle from conception to production.
                                li A snippet is shown that exemplifies a portion of the design process where wireframes were developed.
                div.card_format
                    section.card
                        div.card_inner
                            p.card_title.card_header.
                                Stratego: A Turn-Based Multi-Fauceted Conquest Strategy Game
                div.card_format
                    section.card
                        div.card_inner
                            p.card_title.card_header.
                                Snek: A Puzzle BearJam Project
                            img(id="snek_game_img", src="../assets/bear_jam_snek.png", alt="Main Page for the Game. Menu Options and Picture of Snake Reaching for an apple.")
                div.card_format
                    section.card
                        div.card_inner
                            p.card_title.card_header.
                                100 Latinos Dijeron: A Family Trivia Competition Game
                            img(id="onehunld_game_img", src="../assets/pp_100ld.png", alt="Main Page for the Game. Menu Options and Picture of Snake Reaching for an apple.")
                div.card_format    
                    section.card#connect_page
                        h2.card_title Let's Connect! Feel Free to Leave Your Information for New Experiences!
                        div.logo_wrapper#contact_logo_wrapper
                            ul.logo_container
                                li.list_item
                                    a(href="https://www.linkedin.com/in/alfredochavez0406")
                                        img(id="logo_linkedin", class="contact_logo", src="../assets/in-logo/LI-In-Bug.png", alt="Linkedin Portfolio Link")
                                li.list_item
                                    a(href="../assets/website_portfolio_resume_v2.1.0.pdf" target="_blank")
                                        img(id="logo_resume", class="contact_logo", src="../assets/resume.svg", alt="Resume Portfolio Link")
                                li.list_item
                                    a(href="https://github.com/achavez1412")
                                        img(id="logo_github", class="contact_logo", src="../assets/github-mark/github-mark.png", alt="Github Portfolio Link")
                        div.submit_content
                            form(action="" class="needs-validation" id="submission" novalidate)
                                div.submit_row
                                    div.submit_group
                                        label(class="label_star", for="First Name") First Name
                                        label(class="req_submit") *
                                        input(type="text" class="form-control", id="first_name", placeholder="First Name", name="first_name", aria-label="first_name", minlength="1", maxlength="50", required)
                                        span(class="error_message" id="first_name_error")
                                    div.submit_group
                                        label(class="label_star", for="Last Name") Last Name
                                        label(class="req_submit") *
                                        input(type="text", class="form-control", id="last_name", placeholder="Last Name", name="last_name", aria-label="last_name", minlength="1", maxlength="100", required)
                                        span(class="error_message", id="last_name_error")
                                div.submit_group
                                    label(class="label_star", for="Email Address") Email Address
                                    label(class="req_submit") *
                                    input(type="email", class="form-control", id="email_address", placeholder="Email", name="email_address", aria-label="email_address", minlength="5", maxlength="100", required)
                                    span(class="error_message", id="email_error")
                                div.submit_group
                                    label(class="") Short Message
                                    textarea(type="text", class="", id="short_message", placeholder="Short Message (Optional)", name="short_message", aria-label="message", minlength="0", maxlength="1000")
                                button(class="", id="submission_button", type="submit") Send

        //- footer
        //-     p Uicons by <a href="https://www.flaticon.com/uicons">Flaticon</a>
