*{
    margin:0;
    padding:0;
    /* outline: 2px solid red; */
}
*,*::before,*::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    overflow: scroll;
}

:root{
    --clr-bkgrd:#283618;
    --clr-container:#bf7f3b;
    --clr-bodr:#4355bb;
    --clr-bodr-blu:#2d74d1;

    --fw-txt-m:500;
    --fw-txt-sm:300;
    --fw-txt-mini:400;

    --fs-txt-l:2rem;
    --fs-txt-m:1.5rem;
    --fs-txt-sm: 1rem;
    --fs-txt-mini:.75rem;

    --fs-txt-header-main-m:1.2rem;
    --fs-txt-header-main-l:2rem;

    --clr-fail:#a54435;
    --clr-pass:#518147;
    --clr-alert:var(--clr-primary);
    --clr-bkgrd:#f8f8f8;
    --clr-primary:#f8f8f8;
    --clr-secondary:#f8f8f8;
    --clr-accent100:#f8f8f8;
    --clr-accent200:#f8f8f8;
    --clr-accent300:#f8f8f8;
    --clr-accent400:#f8f8f8;
    --clr-nav:#f8f8f8;
    --clr-hover:#f8f8f8;
    --clr-hover-tint:#f8f8f8;

    --clr-light-bkgrd:#2e3a59;
    --clr-light-primary:#f8f8f8;
    --clr-light-secondary:#1c1c2e;
    --clr-light-nav:#3A9BD9;
    --clr-light-hover:#3A9BD9;
    
    --clr-light-accent100:#5bc0eb;
    --clr-light-accent300:#6C757D;
    
    --clr-light-accent200:#ded7e3;
    --clr-light-accent400:#3a9bd9;

    --clr-dark-bkgrd:#283618;
    --clr-dark-nav:      #DDA15E;
    --clr-dark-primary:  #606C38;
    --clr-dark-secondary:#FEFAE0;
    --clr-dark-accent100:#A0A4D1;
    --clr-dark-accent200:#E6B87F;
    --clr-dark-accent300:#BC6C25;
    --clr-dark-accent400:#283618;
    --clr-dark-hover:#606C38;
    
    --foreground:var(--clr-dark-primary);
    --background:var(--clr-dark-secondary);
}

.dark_mode{
    --clr-bkgrd:var(--clr-dark-bkgrd);
    --clr-nav:var(--clr-dark-nav);
    --clr-primary:var(--clr-dark-primary);
    --clr-secondary:var(--clr-dark-secondary);
    --clr-accent100:var(--clr-dark-accent100);
    --clr-accent200:var(--clr-dark-accent200);
    --clr-accent300:var(--clr-dark-accent300);
    --clr-accent400:var(--clr-dark-accent400);
    --clr-hover:var(--clr-dark-hover);
}

.light_mode{
    --clr-bkgrd:var(--clr-light-bkgrd);
    --clr-nav:var(--clr-light-nav);
    --clr-primary:var(--clr-light-primary);
    --clr-secondary:var(--clr-light-secondary);
    --clr-accent100:var(--clr-light-accent100);
    --clr-accent200:var(--clr-light-accent200);
    --clr-accent300:var(--clr-light-accent300);
    --clr-accent400:var(--clr-light-accent400);
    --clr-hover:var(--clr-light-hover);
    filter:none;
}

.clear_fix::after{
    content:'';
    display:table;
    clear:both;
}

body{
    background-color: var(--clr-bkgrd);
    font-weight: 400;
    margin:0;
}

.taskbar_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background: var(--clr-nav);
    margin:0 auto;
    top:0;
    left:0;
    /* border: 5px solid var(--clr-accent400); */
    height: 3rem;
    width: 100%;
    position:fixed;
    z-index:100;
    align-items: center;
    justify-content: center;
    /* opacity: 0.25;
    scale:.75;
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: 100px;
    animation-range-end: 100px; */
   
}

nav{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:0;
    list-style: none;
    grid-column: 2 / 5;
}
    nav ul{
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin:0;
        padding:0;
        list-style: none;
    }

    nav li{
        margin: 0em 0em 0em 0em;
        padding:0rem 0rem 0rem 0rem;
        text-align: center;
    }

    nav a{
        color:var(--clr-secondary);
        font-size: 1.5em;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
    }

    nav a:hover{
        color:var(--clr-hover);
    }
    nav li:hover{
        color:var(--clr-hover-tint);
    }

.ref_square{
    height: .25px;
    width:.25px;
}

.req_submit{
    color:var(--clr-fail);
}
.pass_submit{
    color:var(--clr-pass);
}

.form_container{
    display:inline-flex;
    position:relative;

    color:var(--clr-secondary);
    background-color: var(--clr-accent300);
    margin: 3rem 0rem 0rem 0rem;
    width:100%;
    height: 3rem;
}

    .form{
        display:inline-flex;
        position: relative;
        align-items: center;
        justify-content: center;
        padding: 0rem;
        width:16rem;
        gap:0rem;
        left:58.5vw;
    }

#language_selector, #dark_light{
    width:8rem;
    height:1.5rem;
}

.wrapper_container{
    display:flex;
    position:relative;
    overflow:hidden;
    overflow-y: hidden;
    overflow-x: hidden;
    filter:none;
    
    width:96vw;
    height:80vh;
    align-items: center;
    justify-content: center;
    padding:0rem 0rem 0rem 0rem;
    /* margin:4rem 0rem 10rem 0rem; */
    margin:2rem 1rem 4rem 1.5rem;
}
    .container{
        /* outline: 2px solid red; */
        display:grid;
        overflow-y: hidden;
        overflow-x: hidden;
        grid-column: 1 / -1;
        justify-content: center;
        align-items: center;
        grid-template-columns: 2fr 3fr 2fr;
        grid-template-rows: 1fr;
        gap:1rem;
        margin:0rem 0rem 0rem 0rem;
        padding: 0rem 0rem 0rem 0rem;
        /* width:clamp(500px, 90%, 90%);
        height:clamp(600px, 45%, 1200px); */
        width:96%;
        height:100%;
        aspect-ratio: 4 / 3;
    }

    .container_item{
        display:grid;
        overflow-x: hidden;
        grid-template-columns: 1fr;
        /* grid-template-rows: 2fr 1fr; */
        justify-content: stretch;
        align-items: center;
        overflow: hidden;
        text-wrap: wrap;
        max-width: 100%;
        max-height:100%;
    }
    .formatting_block{
    opacity: .98;
    }
    
#block_main_1{
    display: grid;
    grid-template-rows:4.6fr 9fr;
    gap:1rem;
    height:100%;
}
#block_main_2{
    display: grid;
    grid-template-rows:3fr 2fr;
    gap:1rem;
    height:100%;
    aspect-ratio: 3 / 2;
}
#block_main_3{
    display: grid;
    grid-template-rows:1fr 4fr;
    overflow-y: hidden;
    gap:1rem;
    height:100%;
    margin:0;
}

.flex_item{
    background-color:var(--clr-primary);
    border: 6px solid var(--clr-accent300);
    border-radius: .5em;
    color:var(--clr-secondary);
    overflow: auto;
    text-wrap: wrap;
    padding: .5rem .5rem 0rem .5rem;
    width: 100%;
    height:100%;
}

.main_menu_title{
    font-size: var(--fs-txt-header-main-m);
    font-weight: var(--fw-txt-m);
}
.title{
    text-decoration: none;
    color:var(--clr-secondary);
}

.time_elements{
    font-weight: var(--fw-txt-m);
}
    #time{
        font-size: var(--fs-txt-header-main-l);

    }
    #date{
        font-size: var(--fs-txt-header-main-m);
    }

#connect_page{
    display: flex;
    align-items: center;
}
#network_connect{
    margin:0;
    padding:0
}
#main_menu_logo_wrapper{
    height:20%;  
}
#contact_logo_wrapper{
    height:50%;
}
    .contact_logo{
        position: relative;
        width:80%;
        height:100%;
    }
#portrait{
    display: flex;
    justify-content: center;
    align-items:start;
    /* border-radius:50% 45% 50% 45%; */
    border-radius:50%;
    overflow:hidden;
}
#photo_me{
    position:relative;
    top:-21vh;
    aspect-ratio:initial;
    width:auto;
    height:220%;
}
#logo_resume{
    width:28%;
}

.logo_wrapper{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    width:100%;
    gap:2rem;
    padding:0rem 0rem 0rem 0rem;
    margin:0 auto; 
}
    .logo_container{
        display:flex;
        justify-content: space-between;
        align-items: center;
        width:100%;
        height: 100%;
        margin:0;
        padding:0;
        list-style: none;
        grid-column: 2 / 5;
    }
    .logo_item{
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
    }

.main_menu_list_logo{
    display:flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    padding:0;
    margin:0;
}
    .main_menu_logo_item{
        width:40%;
        height:40%;
        margin:0;
        padding:0;
    }

.connect_button{
    display:flex;
    position: relative;
    justify-self: center;
    align-items: center;
    padding:0rem 1rem .5rem 1rem;
    margin:.5rem 0rem 0rem 0rem;
    text-decoration: none;
    color:var(--clr-secondary);
    background-color: var(--clr-accent100);
}

.cards{
    /* outline:2px solid black; */
    display:block;
    position:relative;
    overflow:visible;
    width: 100%;
    height:100%;

    padding:0rem 0rem 0rem 0rem;
    margin:0 auto;
}
    .card_format{
        display: flex;
        justify-content: center;
        align-items: center;
    }

.card{
    /* outline:2px solid blue; */
    display:block;
    position:relative;
    overflow:hidden;
    gap:1rem;
    padding: 1rem 0rem 1rem 0rem;
    margin: 0rem 0rem 2rem 0.5rem;
    
    font-weight: var(--fw-txt-sm);
    font-size: var(--fs-txt-m);
    background:var(--clr-primary);
    color:var(--clr-secondary);
    border: 5px solid var(--clr-accent300);
    border-radius: .5em;
    
    width:91.5vw;
    height:fit-content;
    
}
    .card_title{
        margin:0 auto;
        padding: 1.5rem 1rem 0rem 1rem;
        font-size: var(--fs-txt-l);
    }
    .card_header{
        padding: 1em 1em 1em 1em;
        margin: 1rem 0rem 0rem 0rem;
        position:relative;
        width:50%;
        height:fit-content;
        left:-1.5em;
        background-color: var(--clr-accent100);
        border-radius: 0% 4% 4% 0%;
        /* text-align: center; */
    }
    .card_inner{
        display: inline-block;
        position: relative;
        padding:0rem 2rem 0rem 2rem;
    }

#projects_page{
    counter-reset: project-num;
}
#eecs149_poster{
    display: flex;
    aspect-ratio: inherit;
    width:58%;
    height:auto;
    padding: 1em 0em 2em 0em;
    margin:0 auto;
    align-self: center;
    justify-self: center;
}
#cs160_front, #cs160_fid_pt3{
    display: inline-flex;
    aspect-ratio: inherit;
    width:35%;
    height:auto;
    padding: 1em 3em 2em 2em;
    margin:0em 0em 0em 6em;
    align-self: center;
    justify-content: center;
}
#snek_game_img{
    display:inline-flex;
    width:50%;
    height:auto;
    align-content:center;
    justify-items: center;
}
#onehunld_game_img{
   width:50%;
   height:auto; 
}
/*.bulletpoint::before{
    counter-increment: project-num;
    content:counter(project-num) ') ';
    position:absolute;
    left:.5em;
} */

.submit{
    display:grid;
    text-wrap: wrap;
    position:absolute;
    overflow: hidden;
    flex-direction: column;
    grid-template-columns: [tag] 2fr;
    grid-template-rows: [first_name] 1fr [last_name] 1fr [email] 1fr [msg] 2fr [btn] 1fr;

    border-radius: 25px;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
    background-color: var(--clr-accent100); 
    width:55%;
    height: 35%;
    align-items: center;
}
    .list_item{
        display:flex;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        text-align: center;
        padding:0;
        margin:0;
    }
    #submission{
        justify-items: center;
        align-content: center;
        padding-bottom: 1rem;
    }
    
    .form_entry{
        display:flex;
        justify-items: center;
        align-items: center;
        width:inherit;
        height: inherit;
    }
    .label_star{
        display: inline-flex;
        align-items: center;
        justify-content: left;
    }
    .form-input{
        font-size: var(--fs-txt-sm);
        font-weight: var(--fw-txt-sm);
        position: relative;
        width:40rem;
    }
    .form-control{
        height:3rem;
        position:relative;
        /* align-items: center; */
        /* justify-content: center; */
    }

.submit_content{
    display: inline-block;
    position: relative;
    margin:0rem 0rem 2rem 0rem;
    padding:2rem;
    width:75%;
    height: 30%;

    border-radius: 25px;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
    background-color: var(--clr-accent100);
}
        .submit_row{
            width: 100%;
            display: flex;
            /* align-items: center; */
            gap:4rem;
        }
    
        .submit_group{
            width:100%;
            position: relative;
            /* align-items: center; */
            justify-content: center;
            min-height: 1rem;
        }
    
        .submit_content form{
            display:grid;
            gap:1rem;
            grid-template-rows: 1fr 1fr 1.5fr 1fr;
        }
    
        .submit_group textarea, input{
            width:100%;
            padding:1rem;
        }
    
        .submit_group textarea{
            overflow: scroll;
            resize: none;
            height: 75%;
        }
    
.error_message{
    display: inline-block;
    position: relative;
    font-size: var(--fs-txt-mini);
    font-weight: var(--fw-txt-mini);
    /* color:var(--clr-alert); */
    justify-content: center;
    /* padding: 0; */
    /* margin:0 auto; */
}
    #short_message{
        position: relative;
        left:4px;
        margin:0 auto;
    }
    #submission_button{
        width:15rem;
        height:2rem;
        padding: 1.5rem;
        margin:2rem;

        bottom:-.5em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .form-input:invalid{
        --clr-alert:rgb(255, 54, 54);
    }

    .form-input:valid{
        --clr-alert:rgb(227, 189, 237);
    } 