*{
    margin:0;
    padding:0;
}
html{
    scroll-behavior: smooth;
}
:root{
    --clr-bkgrd:#242219;
    --clr-container:#bf7f3b;
    --clr-bodr:#4355bb;
    --clr-bodr-blu:#2d74d1;
}
.clear_fix::after{
    content:'';
    display:table;
    clear:both;
}

body{
    background-color: var(--clr-bkgrd);
}

.body_container{
    min-height: 100vh;
    min-width: 100vw;
    margin:0;
    background-image: url('../html/day_theme_river_scenery.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -65vh;

    transition:background-image 0.8s linear, opacity 0.8s ease;
    transition-timing-function: ease;
    overflow:hidden;
}
.light-theme{
    background-image: url('../html/day_theme_river_scenery.png');
    filter:invert(0);
    opacity:1.0;
}

.dark-theme{
    background-image: url('../html/night_theme_garden_scenery.png');;
    filter:sepia(.5);
    opacity: .75;
}

.form{
    text-align: right;
    padding-right: 5%;
}

#dark-light{
    margin-top: 2%;
}

.taskbar_container{
    /* scale:.75;
    opacity: 0; */
    margin: 0 auto;
    background: var(--clr-bodr-blu);
    border: 100px --clr-bkgrd;
    border-radius:2vmax;
    width: 90%;
    scroll-behavior: smooth;
    /* animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: 200px;
    animation-range-end: 200px;
    */
}

.taskbar_text{
    color:var(--clr-bkgrd);
    font-size: 20px;
}

nav{
    margin:5%;
    padding:0;
    list-style: none;
}

nav ul{
    margin:0;
    padding:0;
    list-style: none;
    align-items: center;
}

nav li{
    display:inline-block;
    margin-left: 13vw;
    padding:30px;
}

nav a{
    color:var(--clr-bodr);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

/* @keyframes fade-in{
    to{scale:1; opacity: 1.0;}
} */

/* .background_img{
    background-image:url("portfolio/img/japanese_garden_brush.png");
    position:relative;
    background-position:center;
    background-size:cover;
    height: 500px;
} */
.wrapper_container{
    display:flex;
    align-items: center;
    justify-content: center;
    height:95vh;
    width:100vw;
    position:relative;
    overflow:hidden;
}

.container{
    margin: 0 5vw 10vh 5vw;
    padding:0;
    border: 8px solid var(--clr-bodr);
    min-width: 25vw;
    max-width:90vw;
    vertical-align: top;

    min-height:25vw;
    max-height:75vh;

    display:grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 4fr 1fr;
    gap:5px;
}

.container_item{
    background-color:var(--clr-container);
}

.flex_item{
    flex:1;
}

.flex_item_small{
    background-color: #446484;
    flex:100%;
}

#time_zone{
    display: inline;
    font-size: 30px;
}

.cards{
    container-type: inline-size;
    margin:1%
}

.card{
    display:grid;
    gap:1rem;
    text-align: center;
    margin: 5%;
    background: var(--clr-container);
    border: 5px solid var(--clr-bodr);
}

/* @container(width > 45ch){
    .card{
        grid-template-columns: auto minmax(2ch, 1fr);
    }
} */

.submit_form{
    display:flex;
    flex-direction: column;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
    border-radius: 25px;
    background-color: var(--clr-bkgrd);
    overflow: hidden;
    width:50%;
    max-width:500px;
    align-items: center;
    margin:0 auto;
    margin-bottom: 2%;
}

.form-input, .form-button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size:12px;
    letter-spacing: 2px;
    border:0;
}

.form-input{
    padding:1.5em;
}

.form-input:focus::placeholder{
    color:var(--clr-bkgrd);
    opacity: .85;
}