*{
    margin:0;
    padding:0;
}
*,*::before,*::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    overflow: scroll;
}

:root{
    --clr-bkgrd:#283618;
    --clr-container:#bf7f3b;
    --clr-bodr:#4355bb;
    --clr-bodr-blu:#2d74d1;

    --clr-primary:#000000;
    --clr-secondary:#000000;
    --clr-accent100:#000000;
    --clr-accent200:#000000;
    --clr-accent300:#000000;
    --clr-accent400:#000000;
    --clr-nav:#000000;

    /* --clr-light-primary:#f7e5b4; */
    /* #f0cdbc 
       #3b5a76
       #e3c590
       #f7e5b4 */
    --clr-light-primary:#e3c590;
    --clr-light-secondary:#263238;
    --clr-light-accent100:#c4a336;
    --clr-light-accent200:#a89660;
    --clr-light-accent300:#728766;
    --clr-light-accent400:#3d657a;
    --clr-light-nav:#e9e19b;

    --clr-dark-primary:  #606C38;
    --clr-dark-secondary:#FEFAE0;
    --clr-dark-accent100:#A0A4D1;
    --clr-dark-accent200:#E6B87F;
    --clr-dark-accent300:#BC6C25;
    --clr-dark-accent400:#283618;
    --clr-dark-nav:      #DDA15E;
    
    --foreground:var(--clr-dark-primary);
    --background:var(--clr-dark-secondary);
}

.dark_mode{
    --clr-primary:var(--clr-dark-primary);
    --clr-secondary:var(--clr-dark-secondary);
    --clr-accent100:var(--clr-dark-accent100);
    --clr-accent200:var(--clr-dark-accent200);
    --clr-accent300:var(--clr-dark-accent300);
    --clr-accent400:var(--clr-dark-accent400);
    --clr-nav:var(--clr-dark-nav);
    /* filter:sepia(.3); */
    /* background-image: url('../html/night_shadow_range.png'); */
    /* filter:sepia(.7);
    opacity: .75;  */
}

.light_mode{
    --clr-primary:var(--clr-light-primary);
    --clr-secondary:var(--clr-light-secondary);
    --clr-accent100:var(--clr-light-accent100);
    --clr-accent200:var(--clr-light-accent200);
    --clr-accent300:var(--clr-light-accent300);
    --clr-accent400:var(--clr-light-accent400);
    --clr-nav:var(--clr-light-nav);
    filter:none;
    /* background-image: url('../html/clouds_night.png'); */
    /* filter:invert(0);
    opacity:1.0; */
}

.clear_fix::after{
    content:'';
    display:table;
    clear:both;
}

body{
    background-color: var(--clr-bkgrd);
    font-weight: 400;
}

.body_image{
    background-image: url('../html/clouds_night.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -65vh;

    transition:background-image 0.8s linear, opacity 0.8s ease;
    transition-timing-function: ease;
    overflow-wrap:normal;
}

.body_container{
    height: 100%;
    width: 100%;
    margin:0;
    /* background-image: url('../html/clouds_night.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-position-y: -65vh; */
}

.form{
    text-align: right;
    padding-right: 5%;
    color:var(--clr-secondary);
    background-color: var(--clr-accent300);
    /* position:relative; */
    /* width:15%;
    height:5%; */
    
}

#dark-light{
    margin-top: 5%;
}

.taskbar_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background: var(--clr-nav);
    margin:0 auto;
    top:0;
    left:0;
    /* border: 5px solid var(--clr-accent400); */
    height: 3rem;
    width: 100%;
    position:fixed;
    z-index:100;
    align-items: center;
    /* opacity: 0.25;
    scale:.75;
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: 100px;
    animation-range-end: 100px; */
   
}

nav{
    text-align: center;
    padding:0;
    list-style: none;
    grid-column: 2 / 4;
}

nav ul{
    display:flex;
    align-items: center;
    margin:0;
    padding:0;
    list-style: none;
}

nav li{
    display:inline-block;
    margin: 0 5em 0 5em;
    padding:5px;
    text-align: center;
}

nav a{
    color:var(--clr-secondary);
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover{
    color:var(--clr-accent100);
}

/* @keyframes fade-in{
    to{scale:1; opacity: 1.0;}
} */

/* .background_img{
    background-image:url("portfolio/img/japanese_garden_brush.png");
    position:relative;
    background-position:center;
    background-size:cover;
    height: 500px;
} */
.wrapper_container{
    display:flex;
    align-items: center;
    justify-content: center;
    height:min(95%,70rem);
    width:100vw;
    position:relative;
    overflow:visible;
    filter:none;
    padding-bottom: 15rem;
}

.container{
    color:var(--clr-secondary);
    vertical-align: top;
    display:grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 4fr 1fr;
    gap:5px;
}

.formatting_block{
    margin: 0rem 5rem 10rem 5rem;
    padding-block:2rem;
    opacity: .98;
    width:90vw;
    min-width:25vw;
    max-width:90vw;
    min-height:25vw;
    max-height:75vh;
}

.formatting_text{
    display: inline-block;
}

.container_item{
    background-color:var(--clr-primary);
    border: 6px solid var(--clr-accent300);
    border-radius: .5em;
    color:var(--clr-secondary);
    text-wrap: wrap;
    padding: 1em;
}

.container_item a{
    text-decoration: none;
    color:var(--clr-secondary);
}

.flex_item{
    flex:1;
}

.flex_item_small{
    background-color: var(--clr-primary);
    flex:100%;
}

#time_zone{
    display: inline;
    font-size: 30px;
}

#projects_page{
    counter-reset: project-num;
}

.bulletpoint{
    padding-top: 1em;
    position:relative;
    text-align: center;
}

.bulletpoint::before{
    counter-increment: project-num;
    content:counter(project-num) ') ';
    position:absolute;
    left:.5em;
}

#eecs149_poster{
    height:90%;
    width:95%;
    padding-top: 1em;
    padding-bottom: 2em;
    margin:0 auto;
    align-self: center;
    justify-self: center;
}

#cs160_front, #cs160_fid_pt3{
    height:50%;
    width:45%;
}
.cards{
    display:block;
    container-type: inline-size;
    width: 100vw;
    height:min(95%,70rem);
    margin-bottom: 5rem;
}

.card{
    display:grid;
    background:var(--clr-primary);
    border: 5px solid var(--clr-accent300);
    border-radius: .5em;
    color:var(--clr-secondary);
    gap:1rem;
    text-align: center;
    margin-bottom: 2rem;
}
.card_inner{
    padding:5rem;
}
.submit{
    display:grid;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
    color:var(--clr-accent100);
    background-color: var(--clr-accent100);
    width:65%;
    height: 80%;
    min-width: 10rem;
    min-height: 15rem;
    align-content: center;
    justify-items: center;
}

#submission{
    justify-items: center;
    align-content: center;
    padding-bottom: 1rem;
}

.form-input{
    width:50rem;
    padding:0;
    margin:0 auto;
}

/* .form-input:invalid{
    .error_message{color:red};
}

.form-input:valid{
    .error_message{color:green;}
} */

/*@container(width > 45ch){
    .card{
        grid-template-columns: auto minmax(2ch, 1fr);
    }
} */

/* .submit_form{
    display:grid;
    flex-direction: column;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
    border-radius: 25px;
    background-color: var(--clr-secondary);
    overflow: hidden;
    width:50rem;
    max-width:90%;
    height:20rem;
    align-items: center;
    margin:0 auto; 
    margin-bottom: 2%;
} */

/* .form-input, .form-button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size:12px;
    letter-spacing: 2px;
    border:0;
    width:100%;
    height:50%;
    margin:0 auto;
    color:var(--clr-accent400);
} */

/* .form-input{
    padding-left:2em;
    padding-right: 2em;
    color:var(--clr-accent400);
} */

/* .form-input:focus::placeholder{
    color:var(--clr-accent400);
    opacity: .85;
} */

